html, body{
    margin:0;
    padding:0;
}
body{
    width:400px;
    padding:0 25px;
    font-family:"Arial", sans-serif;
    font-size:12px;
}
h1{
    font-size:16px;
    font-weight:normal;
}
h3 {
    color: #999;
    font-size: 1.25em;
}

img {
    width: 200px;
    height: 200px;
    border-style: dashed;
    border-width: 2px;
    border-color: #ccc;
}

a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;

}